$regular: 400;
$bold: 700;

$unit-025: 1rem/4; //a quarter of a rem
$unit-15: 1rem*1.5;
$unit-1: 1rem;          //1rem
$unit-2:  $unit-1*2; //2rem
$unit-3:  $unit-1*3; //3rem
$unit-4:  $unit-1*4; //4rem
