// color

$primary: #0B1E2F;
$secondary: #003459;
$main-grey: #54626D;
$nav-color: #0D464F;
$sky-blue: #36ABE0;
$hover-color: #0195A3;

$base: #ffff;

$contrast-100: black;
$contast-70: #ECECEC;
$contast-60: #E7E7E7;
$contrast-50: #838181;
$contrast-30: #BCBABA;
