.designsquare {
    color: $base;
    background: $primary;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
    margin-bottom: 5rem;
    max-width: 100rem;
    display: flex;
    flex-wrap: wrap;
        
        a{
            color: $base;
            font-size: 12px;
            text-decoration: none;
            position: relative;
        
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    top: 1.5rem;
                    width: 75%;
                    height: 3px;
                    background: $base;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 250ms ease-in;
                    opacity: .75;
                }
        
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
        }

        h3 {
            font-size: 25px;
            margin-top: 5rem;
            margin-bottom: 2rem;
            }

        p {
            padding-right: 12rem;
            margin-bottom: 5rem;
        }

        img {
            margin-left: .5rem;
        }

        .bluesquare-trasperent {
            max-width: 24.5rem;
        }


}

.blank-one {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 5rem;

    img {
        max-width: 30rem;
        position:relative;
    }

    button {
        width: 150px;
        background: $primary;
        font-size: 1rem;
    }

    h2, p {
        max-width: 312px;
        position: relative;
        left: 5rem;
    }

    .black-square {
        position: relative;
        margin: 2rem 0;
    }
}

.green-icon {
    display: flex;
    text-align: right;
    padding: 6rem 10rem;
    flex-wrap: wrap;
    max-width: 150rem;
    justify-content: space-between;

    h2, p {
        margin-bottom: 2rem;
    }

    div {
        max-width: 20rem;
        margin: 5rem;
    }

    a {
        font-size: 12px;
        text-decoration: none;
        color: $primary;

        img {
            margin-left: .5rem;
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 650px) {

    .blankintro{
        position: relative;
        top: 15rem;
        margin-bottom: 20rem;
        left: 2rem;

        h1 {
            margin-bottom: 1.5rem;
        }
        
        p {
            width: 24rem;
            font-size: 14px;
            font-weight: 500;
        }

        .background-one, .background-two {
            display: none;
        }
    } 

    .list-poster{
        display: grid;
    
        .navy-square_list {
            background: $primary;
            color: white;
            padding: 5rem 2rem;
            max-width: 42rem;
            h2 {
                margin-bottom: 2rem;
            }
    
            p{
                max-width: 25rem;
            }
    
            button {
                background: $sky-blue;
            }
        }
    }
}

@media only screen and (min-width: 651px) and (max-width: 1000px) {

    .blankintro{
    
        h1, p {
            position: relative;
            top: -25rem;
            z-index: 1;
            left: 5rem;
        }

        p{
            font-size: 14px;
            font-weight: 500;
        }

.background-two {
    display: none;
}
}

.designsquare {
    .bluesquare-trasperent {
        margin-left: 10rem;
    }
}

.blank-one {
    display: flex;
    flex-direction: row;
}   

.list-poster{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 4fr 2fr;

    .navy-square_list {
        background: $primary;
        color: white;
        padding: 5rem 2rem;
        max-width: 42rem;
        h2 {
            margin-bottom: 2rem;
        }

        p{
            max-width: 25rem;
        }

        button {
            background: $sky-blue;
        }
    }
}

.green-icon {
    flex-wrap: wrap;
    max-width: 150rem;
    justify-content: space-between;
    margin-top: -90rem;
    h2, p {
        margin-bottom: 2rem;
    }

    div {
        max-width: 20rem;
        margin: 5rem;
    }

    a {
        font-size: 12px;
        text-decoration: none;
        color: $primary;

        img {
            margin-left: .5rem;
        }
    }
}
}

@media only screen and (min-width: 1001px) and (max-width: 1999px) {
    .blankintro{
    
        h1, p {
            position: relative;
            top: -20rem;
            z-index: 1;
            left: 20rem;
        }

        p{
            font-size: 14px;
            font-weight: 500;
        }

.background-two {
    display: none;
}
}

.blank-one {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .black-square {
        position: relative;
        top: 7rem;
    }
}   


.list-poster{
    background: $primary;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h2, p, li, button {
        position: relative;
        left: 5rem;
        top: 7rem;
    }

    ul, li {
        position: relative;
        left: 3rem;
    }

    h2 {
        margin-bottom: 2rem;
    }

    p{
        max-width: 25rem;
    }

    button {
        background: $sky-blue;
    }

    img {
        margin-top: .5rem;
    }
}
}

@media only screen and (min-width: 1200px) {

    .blankintro{
        display: flex;
        flex-wrap: wrap;
    
        .background-one {
            position: relative;
            z-index: -1;
        }
    
        h1 {
            position: relative;
            left: 8rem;
            top: 10rem;
        }
    
        p{
            position: relative;
            left: 8rem;
            top: 12rem;
            font-size: 14px;
            font-weight: 500;
        }
    
        .background-two{
            display: block;
            position: absolute;
            z-index: -1;
            left: 90rem;
            top: 30rem;
        }
    }
    }
    